<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>para</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>18/09/15 11:01:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.edit()[pri:0, instance:testcase.wdMethods.EditLead@12b07fd]">edit</td> 
  <td>TestNG-test=Test-1@11606423</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/15 11:01:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead()[pri:0, instance:testcase.wdMethods.CreateLead@1d56113]">createLead</td> 
  <td>TestNG-test=Test-2@8227874</td>   <td></td> </tr>
</table>
