<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fad9d">  <td>18/10/05 22:57:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:pages.TC004@9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/10/05 22:57:22</td>   <td>-218</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:pages.TC004@9ba398]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/05 22:57:23</td>   <td>750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pages.TC004@9ba398]">login</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/05 22:57:22</td>   <td>-15</td> <td>&nbsp;</td><td title="&gt;&gt;TC004.setData()[pri:0, instance:pages.TC004@9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
</table>
