<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>DuplicateLead.duplicatelead(java.lang.String)[pri:0, instance:wdMethods.DuplicateLead@ec5a4a]<br/></td></tr>
<tr><td>smoke</td><td>CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:wdMethods.CreateLead@185d8b6]<br/></td></tr>
</table>
