<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cd7a0">  <td>18/10/10 21:47:52</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:wdMethods.CreateLead@185d8b6]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/10/10 21:47:52</td>   <td>416</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:wdMethods.CreateLead@185d8b6]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/10 21:47:52</td>   <td>416</td> <td>&nbsp;</td><td title="&gt;&gt;DeleteLeads.setData()[pri:0, instance:wdMethods.DeleteLeads@10366b4]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/10 21:47:52</td>   <td>416</td> <td>&nbsp;</td><td title="&gt;&gt;DuplicateLead.setData()[pri:0, instance:wdMethods.DuplicateLead@ec5a4a]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/10/10 21:47:52</td>   <td>416</td> <td>&nbsp;</td><td title="&gt;&gt;EditLead.setData()[pri:0, instance:wdMethods.EditLead@15eadca]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/10/10 21:47:52</td>   <td>417</td> <td>&nbsp;</td><td title="&gt;&gt;MergeLeadTcs.setData()[pri:0, instance:wdMethods.MergeLeadTcs@1784306]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/10/10 21:47:52</td>   <td>428</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.MergeLeadTcs@1784306]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@14957383</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/10/10 21:47:52</td>   <td>428</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.CreateLead@185d8b6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@6152089</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/10/10 21:47:52</td>   <td>429</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.EditLead@15eadca]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-3@32813413</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/10/10 21:47:52</td>   <td>465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:wdMethods.EditLead@15eadca]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@32813413</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/10/10 21:47:52</td>   <td>528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:wdMethods.MergeLeadTcs@1784306]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@14957383</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/10/10 21:47:53</td>   <td>1327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:wdMethods.CreateLead@185d8b6]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@6152089</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/10/10 21:48:13</td>   <td>21592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MergeLeadTcs.mergeLead(java.lang.String, java.lang.String)[pri:0, instance:wdMethods.MergeLeadTcs@1784306]">mergeLead</td> 
  <td>TestNG-test=Test-2@14957383</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/10 21:48:13</td>   <td>21607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLeads.delete(java.lang.String)[pri:0, instance:wdMethods.DeleteLeads@10366b4]">delete</td> 
  <td>TestNG-test=Test-2@14957383</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/10 21:48:13</td>   <td>21616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLeads.delete(java.lang.String)[pri:0, instance:wdMethods.DeleteLeads@10366b4]">delete</td> 
  <td>TestNG-test=Test-2@14957383</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/10 21:48:13</td>   <td>21625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.duplicatelead(java.lang.String)[pri:0, instance:wdMethods.DuplicateLead@ec5a4a]">duplicatelead</td> 
  <td>TestNG-test=Test-2@14957383</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/10 21:48:13</td>   <td>21631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.duplicatelead(java.lang.String)[pri:0, instance:wdMethods.DuplicateLead@ec5a4a]">duplicatelead</td> 
  <td>TestNG-test=Test-2@14957383</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/10/10 21:48:18</td>   <td>26656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.edit(java.lang.String)[pri:0, instance:wdMethods.EditLead@15eadca]">edit</td> 
  <td>TestNG-test=Test-3@32813413</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/10/10 21:48:18</td>   <td>26666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.edit(java.lang.String)[pri:0, instance:wdMethods.EditLead@15eadca]">edit</td> 
  <td>TestNG-test=Test-3@32813413</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/10/10 21:48:21</td>   <td>29128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:wdMethods.CreateLead@185d8b6]">createLead</td> 
  <td>TestNG-test=Test-1@6152089</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/10/10 21:48:21</td>   <td>29145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:wdMethods.CreateLead@185d8b6]">createLead</td> 
  <td>TestNG-test=Test-1@6152089</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/10/10 21:48:21</td>   <td>29154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:wdMethods.CreateLead@185d8b6]">createLead</td> 
  <td>TestNG-test=Test-1@6152089</td>   <td></td> </tr>
</table>
